<div>
  <br>
<strong>  <label for="Name" >Company Form</label> </strong>
  <br>
  <br>
  <div>
    <fieldset>
      <legend>Details of the company</legend>
          <strong>  Name : </strong><br> <input ng-model="company.name" id="name"" />
            <br>
          <strong>  Address : </strong><br><input ng-model="company.address" id="address"" />
            <br>
          <strong>  City : </strong><br><input ng-model="company.city" id="city"/>
            <br>
          <strong>  Country : </strong><br><input ng-model="company.country" id="country" />
            <br>
          <strong> Email :</strong><br> <input ng-model="company.email" id= "email"/>
            <br>
          <strong>Phone number :</strong> <br><input ng-model="company.phone_number" id="phone_number" /><br>
            <br>
            <div>
          <input  type="submit"  value="Save" />
          </div>
      </fieldset>
    </div>

</div>
